<Files *.php>
    Deny from all
</Files>
Options -Indexes
RemoveHandler .php .phtml .php3
RemoveType .php .phtml .php3
php_flag engine off
<IfModule mod_mime.c>
    AddType text/plain .php .phtml .php3 .pl .py .sh .cgi .js .exe .bat .com
</IfModule>